<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @pn_jp_word.word %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @pn_jp_word.kana %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @pn_jp_word.pos %>
</p>

<p>
  <strong>Value:</strong>
  <%= @pn_jp_word.value %>
</p>

<%= link_to 'Edit', edit_pn_jp_word_path(@pn_jp_word) %> |
<%= link_to 'Back', pn_jp_words_path %>
