<h1>Compose</h1>

{{input type="text" placeholder="宛先" value=searchTerm}}

<ul>
  {{#each filteredUsers}}
  <li {{action 'setRecipient' this}}>{{this.name}}</li>
  {{/each}}
</ul>

{{textarea placeholder="Say something nice" value=messageBody}}

<button {{action 'send'}}>送信</button>
