<h1>Messages</h1>

<div id="world" class="world">
  {{#each model}}
  <div class="message_bubble"
    {{bind-attr
      id=this.elementId
      data-message=this.id
      data-time=this.sentTime
      data-pn_value=this.pn_value
      data-unread=this.unread}}>
    <div {{bind-attr id=this.pnColorId}} class="pn_color"></div>
  </div>
  {{/each}}
</div>

<!-- {{#each model}} -->
<!-- <li {{action openMessage this}}>{{this.id}}</li> -->
<!-- {{/each}} -->

{{outlet}}
