<div id="scrollAnchor"></div>

<div id="world" class="world">
  <div {{action openComposer}} id="post" class="post"></div>
  <div id="trash" class="trash"></div>

  {{#each model}}
  <div class="message_bubble"
    {{action openMessage this}}
    {{bind-attr
      id=this.elementId
      data-message=this.id
      data-time=this.sentTime
      data-pn_value=this.pn_value
      data-unread=this.unread}}>
    <div {{bind-attr id=this.pnColorId}} class="pn_color"></div>
  </div>
  {{/each}}

  <div id="curtain" class="curtain"></div>
  <div id="stars" class="stars">
    <img id="st0" class="star" src="images/background_star@x2.png" width="16" height="16" />
    <img id="st1" class="star" src="images/background_star@x2.png" width="16" height="16" />
    <img id="st2" class="star" src="images/background_star@x2.png" width="16" height="16" />
    <img id="st3" class="star" src="images/background_star@x2.png" width="16" height="16" />
    <img id="st4" class="star" src="images/background_star@x2.png" width="16" height="16" />
    <img id="st5" class="star" src="images/background_star@x2.png" width="16" height="16" />
    <img id="st6" class="star" src="images/background_star@x2.png" width="16" height="16" />
    <img id="st7" class="star" src="images/background_star@x2.png" width="16" height="16" />
    <img id="st8" class="star" src="images/background_star@x2.png" width="16" height="16" />
    <img id="st9" class="star" src="images/background_star@x2.png" width="16" height="16" />
  </div>

  <img id="env_sun" class="env_images" src="images/sun@x2.png" width="50" />
  <img id="env_moon" class="env_images" src="images/moon@x2.png" width="35" />
  <img id="env_bird1" class="env_images" src="images/bird@x2.png" width="34" />
  <img id="env_bird2" class="env_images" src="images/bird@x2.png" width="34" />

  <!-- message body -->
  {{outlet}}
</div>

<!-- {{#each model}} -->
<!-- <li {{action openMessage this}}>{{this.id}}</li> -->
<!-- {{/each}} -->
